*{
    margin:0px;
}
.Menu{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    border-bottom:1px solid rgba(135,135,135,0.2);
}
.Menu__Left{
    display:flex;
    justify-content:start;
    align-items:center;
    padding-left: 30px;
}
.Menu__Left__Container__items{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #8c929c;
}
.Menu__Left__Container__items li {
    padding:23px;
}
.Menu__Left__Container__items >li:hover{
    color:#0ea89b;
    font-weight: bold;
    border-bottom:4px solid #0ea89b;
}
.Menu__Search{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}
.Menu__Search img{
    padding:10px; 
}
.Menu__Search input{
    padding:5px;
    padding-left: 30px;
    height: 36px;
    width:334px;
    border-radius: 5px;
    background-color: #f3f4f6;
    border:none;
    outline: none;
}
.Content{
    display:flex;
    justify-content:center;
    align-items:center;
}
.Content__Container{
    display:grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding-top:50px ;
}
.Content__Container__Left{
    width: 800px;
    height: auto;
}
.Content__Container__Right{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    max-height:1207px;
}
.Content__Container__Left__Diana{
    padding:30px;
    border:1px solid rgba(135,135,135,0.2);
    border-radius:10px
}
.Content__Container__Left__Diana__header{
    display:flex;
    justify-content: space-between;
    align-items:start;

}
.Content__Container__Left__Diana__header__left{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Content__Container__Left__Diana__header__left--Name{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    padding:0 20px;
}
.Content__Container__Left__Diana__header__left--Name >p:first-child{
    font-size: 24px;
    font-weight: bold;
    color: #0ea89b;
}
.Content__Container__Left__Diana__header__left--Address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: 18px;
    color: #8c929c;
}
.Content__Container__Left__Diana__header__left--Address >p:last-child{
    font-size:14px;
    padding:10px 0px;
}
.Content__Container__Left__Diana__header_right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    color:#8c929c
}
.Content__Container__Left__Diana__header__right--top{
    color:#0ea89b;
    font-size: 18px;
    font-weight: bold;
}
.Content__Container__Left__Diana__info{
    padding-top:35px;
}
.Content__Container__Left__Diana__info--header{
    font-size:24px;
    font-weight: bold;

}
.Content__Container__Left__Diana__info--rated{
    display: flex;
    justify-content:start;
    align-items: center;
}
.Content__Container__Left__Diana__info--center{
    color:#8c929c;
    padding:10px 0;
}
.Content__Container__Left__Diana__info--rated--items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    color: #8c929c;
}
.Content__Container__Left__Diana__info--rated--items >p:first-child{
    font-weight: bold;
    padding:5px;
    color:black;
}
.Content__Container__Left__Feedback__header{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.Content__Container__Left__Feedback__header--title{
    font-size:24px;
    font-weight: bold;
}
.Content__Container__Left__Feedback__header--sort{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    background-color: #f3f4f6;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #8c929c;
}
.Content__Container__Left__Feedback__header--sort >option:first-child{
    display: none;
}
.Content__Container__Left__Feedback{
    border: 1px solid rgba(135,135,135,0.2);
    border-radius: 5px;
    margin-top: 35px;
    padding: 30px;
    margin-bottom:100px ;
}
.Content__Container__Left__Feedback__center__items{
    padding-top:40px;
    border-bottom: 1px solid rgba(135,135,135,0.2);
    padding-bottom:30px ;
}
.Content__Container__Left__Feedback__center__items--last{
    border-bottom: none;
}
.Content__Container__Left__Feedback__center__items--Header{
    display:flex;
    justify-content:space-between;
}
.Content__Container__Left__Feedback__center__items--Header--Name--top {
    display: flex;
    align-items:center;
    font-weight: bold;
}
.Content__Container__Left__Feedback__center__items--Header--Name--top >p:last-child{
    color:#8c929c;
    padding:0 30px;
    font-weight: normal;
}
.Content__Container__Left__Feedback__center__items--Header--Name--rated{
    padding:5px 0px;
}
.Content__Container__Left__Feedback__center__items--comment{
    padding-top: 10px;
    color:#8c929c;
}
.Content__Container__Left__Feedback__center__items--Header--Price{
    font-weight:bold;
}
.Content__Container__Left__Feedback__center__items--img{
    display:flex;
    justify-content:start;
    align-items:center;
    padding-top:20px;
}
.Content__Container__Left__Feedback__center__items--img img{
    padding-right:20px ;
}
.Content__Container__Left__Showmore button{
    color:#0ea89b;
    border:1px solid #0ea89b;
    width: 130px;
    height: 35px;
    border-radius:5px;
    background:none;
}
.Content__Container__Right__Top{
    border:1px solid rgba(135,135,135,0.2);
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding:30px;
}
.Content__Container__Right__Top--button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:24px 0px;
}
.Content__Container__Right__Top--button--follow{
    width:300px;
    height: 35px;
    border-radius:5px;
    border: none;
    background-color: #0ea89b;
    color:#f3f4f6;
    margin-bottom: 10px;
}
.Content__Container__Right__Top--button--Message{
    width:300px;
    height: 35px;
    border-radius:5px;
    border: 1px solid #0ea89b;
    background: none;
    color:#0ea89b;
    font-size: 16px;
    margin: 5px 0px;
}
.Content__Container__Right__Top--rating{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    max-width: 300px;
}
.Content__Container__Right__Top--rating--left--top{
    font-size:24px;
    font-weight: bold;
}
.Content__Container__Right__Top--rating--left--center{
    color: #8c929c;
    font-size: 12px;
    padding:5px 0;
}
.Content__Container__Right__Top--rating--left img{
    padding:10px 0;
}
.Content__Container__Right__Top--rating--right{
    display: flex;
    flex-direction: column;
}
.Content__Container__Right__Top--rating--right--total{
    display: flex;
    align-items:center;
}
.Content__Container__Right__Top--rating--right--total p{
    padding:5px;
    font-size: 12px;
    color: #8c929c;
}
.Content__Container__Right__Top__Title{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    min-width:290px;
}
.Content__Container__Right__Top__Title--Reponse{
    color:#8c929c;
    font-size: 14px;
    padding: 10px 0px;
}
.Content__Container__Right__Top__Title--Reponse >p:first-child{
    font-size: 20px;
    font-weight: bold;
    color:black;
}
.Content__Container__Right__Top__Title--Reponse p{
    padding:5px;
}
.Content__Container__Right__Top__Title--Reponse input{
    width: 280px;
    max-width:300px;
    height: 35px;
    border-radius:5px;
    color: #8c929c;
    border: 1px solid #8c929c;
    padding-left: 20px;
}
.Content__Container__Right__Top__Title--link{
    color: #0ea89b;
    text-decoration: none;
    font-weight: bold;
    padding-top:10px;
}
.Content__Container__Right__botton{
    background-color: #f6f1fd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px 0;
}
.Content__Container__Right__botton--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.Content__Container__Right__botton--info--header{
    font-size:24px;
    font-weight: bold;
}
.Content__Container__Right__botton--info--center{
    color: #8c929c;
    font-size: 16px;
    text-align: center;
    padding:5px 0;
}
.Content__Container__Right__botton--info--Button{
    width: 195px ;
    height: 35px;
    border-radius:5px;
    background-color: #0ea89b;
    color: #f3f4f6;
    border: none;
    cursor: pointer;
    margin:20px 0;
}
.Footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 400px;
    background-color: #fafafb;
}
.Footer__Container{
    width: 1150px;
    max-width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(135,135,135,0.2);
}
.Footer__Content{
    display: flex;
    justify-content: space-around;
}
.Footer__Content__items{
    display: flex;
}
.Footer__Content__items--1{
    list-style: none;
}
.Footer__Content__items--1 li{
    padding:5px 0;
}
.Footer__Content__items--1 >li:first-child{
    font-weight:bold;
    font-size:24px ;
}
.Footer__Content__Subcrible--input{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.Footer__Content__Subcrible__header >p:first-child{
    color:#0ea89b ;
    font-size: 24px;
    font-weight: bold;
}
.Footer__Content__Subcrible__header p:last-child{
    color:#717884;
    font-size: 14px;
    padding:10px 0;
}
.Footer__Content__Subcrible--input input{
    width: 255px;
    height: 30px;
    border-radius: 5px;
    padding-left: 30px;
}
.Footer__Content__Subcrible--input button{
    width:85px;
    height: 35px;
    color: #f3f4f6;
    background-color: #0ea89b;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.Footer__Copyright{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}
.Footer__Copyright--Language{
    width: 125px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    background-color: #f3f4f6;
    border:none;
    padding:10px;
}
.Footer__Copyright--Language option:first-child{
    display: none;
}
.Footer__Copyright--info{
    display: flex;
    justify-content:start;
    align-items:center;
    color: #717884;
}
.Footer__Copyright--info ul{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding:10px;
}
.Footer__Copyright--info ul li{
    margin:0 15px;
}
.Footer__Copyright--media img{
    padding:5px;
}